<p>contact works!</p>



<section class="CONTACT mt-5">
    <div class="container  text-center py-5">
        <h1>CONTACT ME</h1>
        <i class="fs-1 mt-3 fa-solid fa-star "></i>
    </div> 
    <div class="container ">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form id="contactForm" name="sentMessage" novalidate="novalidate">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2 d-flex justify-content-center">
                         <label for=""></label>
                         <input class="form-control " id="name" type="text" placeholder="Name" required="required" data-validation-required-message="Please enter your name." aria-invalid="true">
                         <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2 d-flex justify-content-center">
                         <label for=""></label>
                         <input class="form-control " id="name" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your name." aria-invalid="true">
                         <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2 d-flex justify-content-center">
                         <label for=""></label>
                         <input class="form-control " id="name" type="text" placeholder="phone number" required="required" data-validation-required-message="Please enter your name." aria-invalid="true">
                         <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2 d-flex justify-content-center">
                         <label for=""></label>
                     <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Please enter a message." aria-invalid="false"></textarea>
                         <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>