<div class="home">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="img ">
            <img src="../../../assets/avataaars.svg" class="" alt="">
            <div class="cont text-center text-white">
                <h1 >START ANGULAR</h1>
                <i class="fs-1 mt-3 fa-solid fa-star text-white"></i>
               <p class="d-block font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
            </div>
    
        </div>
       
    </div>
</div>
