.home{
    background-color: #1abc9c !important;
    height: 90vh;
}
.img{
    padding-top: 60px;
    position: relative;

}
.img img{
        width: 280px;
        margin-left: 100px;
}
.cont h1{
    font-size: 4rem;
    line-height: 3.5rem;
    margin: 8px 0;
}
.cont p{
    margin-top: 50px;
    font-size: 1.5rem;
}
.fa-star::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 5px;
    background-color: white;
    left: 89px;
    bottom: 105px;
}
/* .fa-star::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 3px;
    background-color: black;
   
} */
.cont h1::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 5px;
    background-color: white;
    left: 284px;
    bottom: 104px;
}
